# Ignore R associated files
.Rproj.user
.Rprofile
.Rhistory

# Ignore R data
.RData

# ignore produced vignettes
inst/doc/*
vignettes/*.html
vignettes/*.pdf

# ignore OS X Finder files
*.DS_Store

# ignore emacs backup files
*~