# The purpose of this action is to calculate the code coverage and add the results on codecov.io
# codecov.io provides a badge showing the current coverage and generates coverage reports for each pull requests.
#
# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - name: Manually install preprocessCore
        if: ${{ !(matrix.config.os == 'windows-latest' || matrix.config.os == 'macOS-latest') }}
        run: |
          git clone https://github.com/bmbolstad/preprocessCore.git
          cd preprocessCore
          R CMD INSTALL --configure-args="--disable-threading"  .

      - name: Test coverage
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}
